* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eef7ff;
  --secondary-color: #cde8e5;
  --third-color: #7ab2b2;
  --fourth-color: #4d869c;
}

html,
body {
  height: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--third-color),
    var(--secondary-color),
    var(--fourth-color)
  );
  color: var(--fourth-color);
}

.home-container {
  width: 53rem;
  height: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  background-color: var(--primary-color);
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  width: 10rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: var(--third-color);
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background: var(--fourth-color);
}

.quiz-container {
  display: none;
  width: 53rem;
  height: 33rem;
  border: 2px solid var(--third-color);
  border-radius: 30px;
  background-color: var(--primary-color);
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#inputName {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  padding: 5px;
  margin: 11px;
}

#inputName div{
  text-align: center;
}

.buttons{
  display: flex;
}
.buttons div{
  text-align: center;
}
#Player1,
#Player2 {
  padding: 5px;
  margin: 11px;
  border: var(--fourth-color) solid;
  border-radius: 11px;
  
}

#root {
  min-width: 100%;
  justify-content: center;
  text-align: center;
}

#player {
  font-size: 1.5rem;
  font-weight: bold;
}

#timer {
  border: var(--fourth-color) solid 3px;
  padding: 5px;
  border-radius: 9px;
  background: var(--fourth-color);
  color: var(--primary-color);
}

.question {
  font-size: 1.3rem;
  padding: 13px;
}

.answer {
  padding: 5px;
  margin: 5px 20px;
  border: solid var(--fourth-color);
  background: var(--secondary-color);
  cursor: pointer;
  border-radius: 11px;
  text-align: center;
}

.answer-content{
  text-align: center;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}
